<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>About</h2>
        <ol class="breadcrumb">
    </ol>
</div>



        </div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">

<div class="col-md-8">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>About Us</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>

        <b> Our Mission & Goals </b>
        <br><br>
        The mission of the Health Services is to help each  student strive for maximum physical and emotional health while pursuing  their academic and personal goals at the university. Health Services is  committed to providing the highest quality primary health care, in  combination with health education and wellness promotion through caring,  accessible and affordable services.
        <br><br>
        <b> Goals </b>
        <ul>
        <li> Provide accessible, timely primary care that is personalized, confidential and cost-effective. </li>
        <li>
        Educate students, emphasizing health promotion, healthy lifestyles, and lifelong disease prevention.</li>
        <li>
        Promote a campus community that provides a supportive environment for students to pursue personal wellness.</li>
        <li> Foster an environment to teach life-long learning skills to students to be active participants in their health and wellness. </li>
        </ul>

        <b> Prevention Priorities </b>
        <ul>
          
        <li> Prevent sexually transmitted diseases, including HIV infection.</li>
        <li> Prevent infectious and communicable diseases.</li>
        <li> Prevent unintended pregnancies.</li>
        <li> Reduce tobacco use.</li>
        <li> Reduce alcohol use, especially among minors.</li>
        <li> Reduce other substance abuse.</li>
        <li> Reduce injuries.</li>
        <li> Promote fitness, nutrition and weight control.</li>
        <li> Promote immunization and routine health maintenance evaluations.</li>

        </ul>


                Health Services provides comprehensive medical, mental health and health promotion services to all UCM registered students. Services are designed to minimize the impact of illness, emotional distress and injury on studies and work.
                <br><br>
                Students can use our medical services just as they would their regular doctor's office. The facility is staffed by board-certified physicians, physician assistants, nurse practitioners and nurses.
                <br><br>
                Students can use all services at the Student Health Center whether or not they have the <a><%= link_to "Student Health Insurance Plan", insurance_path %></a>.
                To start your care, see <a><%= link_to "appointments", appointments_path %></a>.
                </p>
            </div>
        </div>
    </div>


<div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>H. Rajender Reddy Health Center</h5>
                
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
                
            </div>
            <div class="ibox-content">
        <center>
                <img class="img-responsive" src="../assets/rajender.jpg">
        </center>
        <br>
            </div>
        </div>
    </div>

</div>
</div>





