<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Affordable Care Act</h2>
        <ol class="breadcrumb">
    </ol>
</div>



        </div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">

<div class="col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Affordable Care Act Information</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                In March 2010, President Obama signed comprehensive health reform, the Patient Protection and <a href="https://www.healthcare.gov" target="_blank">Affordable Care Act</a> (ACA), into law. The law makes preventive care—including family planning and related services—more accessible and affordable for many Americans.  While some provisions of the law have already taken effect, many more provisions will be implemented in the coming years.  See more information on the <a href="http://www.hhs.gov/healthcare/" target="_blank">Health and Human Services</a> web site.
                <br><br>
                <a href="http://www.coveredca.com" target="_blank">Covered California</a>  will make it simple and more affordable for Californians to get high-quality health insurance that can't be canceled or denied because of a pre-existing medical condition or if you get sick. Legal residents of California will be eligible to buy health coverage through <a href="http://www.coveredca.com" target="_blank">Covered California</a>. Later in the year, you can shop easily online, in person or by phone for health insurance that is affordable for you and your family. A special website will provide you with a variety of online tools so you can learn more about a range of Qualified Health Plans that will be offered through Covered California. You can also access statewide support services available in person or by phone.
                <br><br>
                <a href="http://www.coveredca.com" target="_blank">Covered California</a> will provide access to coverage that will start in January 2014.
                <br><br>
                UC SHIP is compliant with the federal Affordable Health Care Act.  Read the facts <a href="/uc-ship-tipsheet-aca-Web.pdf" target="_blank">here. </a>
                <br><br>
                <a href="http://www.acha.org/Topics/Affordable_Care_Act/FAQs_for_IndividualCoverageClassification.cfm" target="_blank">American College Health Association ACA & Student Health Insurance FAQs </a>
                <br><br>
                <a href="http://kff.org/health-reform/faq/health-reform-frequently-asked-questions/" target="_blank">Henry Kaiser Family Foundation ACA FAQs </a>
                </p>
            </div>
        </div>
    </div>



<div class="col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>ACA Video</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                    <center>
                        <div><iframe frameborder="0" height="240" src="http://www.youtube.com/embed/6nh17J_m7Ts?rel=0" width="320"></iframe>&#160;</div>
                    </center>
                </p>
            </div>
        </div>


        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Learn More</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                                • <a href="/ucshipfaqs.pdf" target="_blank">ACA Frequently Asked Questions</a>
                                <br>
                                • <a href="/ucshipglossary.pdf" target="_blank">Glossary of ACA Terms​</a>
                                <br>
                                • <a href="/ucshipstudentprofiles.pdf" target="_blank">What does it mean for you and your family?</a>
                                <br>      
                                • <a href="/ucshiptipsheet.pdf" target="_blank">5 Things you need to know</a>
                </p>
            </div>
        </div>
    </div>

</div>
</div>

