<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>ADHD</h2>
        <ol class="breadcrumb">
    </ol>
</div>
        </div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
<div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>ADHD Information  </h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                University of California Merced Student Health Services (SHS) strives to achieve the highest level of health care for our students. With that in mind, we
                would like to make our policies regarding medical treatment of patients with attention deficit disorder (ADD/ADHD) clear and available.
                <br><br>
                Please see the following questions and answers in regards to ADHD evaluation and treatment at UCM SHS:


                <div class="faq-item">
                            <a data-toggle="collapse" href="#faq1" class="faq-question"> Do I have Attention-Deficit/Hyperactivity Disorder- ADD or ADHD? </a>
                            <div id="faq1" class="panel-collapse collapse ">
                                <div class="faq-answer">
                                    <p>
                                    ADHD is characterized by a number of symptoms that often begin in early childhood. Impaired concentration, problems with attention, impulsive behaviors,
                                    fidgeting and distractibility are a few of the common symptoms. It is important to have a thorough evaluation since these symptoms could be the result of other conditions or factors not related to ADHD, including other learning disabilities, emotional or medical difficulties.
                                    </p>
                        </div>
                    </div>
                </div>


               <div class="faq-item">
                            <a data-toggle="collapse" href="#faq2" class="faq-question"> What does SHS require in order to prescribe ADHD medications? </a>
                            <div id="faq2" class="panel-collapse collapse ">
                                <div class="faq-answer">
                                    <p>
                                     Treatment of ADHD with stimulant medication at SHS requires<em> documentation</em> of a professional ADHD assessment with formal    <em>psychological testing</em>. The documentation must be reviewed and approved before stimulant medication treatment can be pursued at SHS.
                                    </p>
                        </div>
                    </div>
                </div>



               <div class="faq-item">
                            <a data-toggle="collapse" href="#faq3" class="faq-question"> I haven’t been tested for ADHD within the last three years (or ever before.) How should I proceed at SHS? </a>
                            <div id="faq3" class="panel-collapse collapse ">
                                <div class="faq-answer">
                                    <p>
                                     At this time, neither SHS nor Counseling and Psychological Services (CAPS) provides formal ADHD diagnostic testing. Immediate community resources for ADHD
                                     testing is limited. Please contact SHS for information of testing sites in nearby communities, or testing can be done in your home community.
                                    </p>
                        </div>
                    </div>
                </div>


               <div class="faq-item">
                            <a data-toggle="collapse" href="#faq4" class="faq-question"> I have been tested and diagnosed with ADHD off-campus. How should I proceed if I want to be prescribed ADHD medication at SHS?</a>
                            <div id="faq4" class="panel-collapse collapse ">
                                <div class="faq-answer">
                                    <p>
                                     Make an appointment with a medical provider at the student health center and bring a copy of the documentation of psychological testing and previous
                                     medications to the appointment for review. If you do not have a copy of previous testing, a release of records can be filled out at the student health center prior to the appointment date.
                                    </p>
                        </div>
                    </div>
                </div>


                </p>
            </div>
        </div>

</div>
</div>
</div>

