<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Alerts</h2>
        <ol class="breadcrumb">
    </ol>
</div>



        </div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">

<div class="col-md-8">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Recent Health Alerts</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
          <a href="/irsnotice.pdf" target="_blank">
          <img class='img-responsive' src="../assets/irs-768.jpg">
          </a>
          <a href="/anthemattack" target="_blank">
          <img class='img-responsive' src="../assets/anthem-768.jpg">
          </a>
          <a href="/http://www.cdc.gov/measles/" target="_blank">
          <img class='img-responsive' src="../assets/measles-768.jpg">
          </a>
          <a href="http://www.cdc.gov/non-polio-enterovirus/outbreaks/EV-D68-outbreaks.html" target="_blank">
          <img class='img-responsive' src="../assets/d69-768.jpg">
          </a>
          <a href="http://www.cdc.gov/vhf/ebola/" target="_blank">
          <img class='img-responsive' src="../assets/ebola-768.jpg">
          </a>


            </div>
        </div>
    </div>


</div>
</div>





