<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Anthem Cyber Attack</h2>
        <ol class="breadcrumb">
    </ol>
</div>



        </div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">

<div class="col-md-8">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Anthem Information</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>

  <b>
    Updated Information regarding the Anthem cyber-attack – 4/2/2015
</b>
</p>
        <p>
    Anthem continues to analyze the external cyber-attack of their system. Anthem has indicated that the breached data items for UC SHIP enrollees includes
    Identification numbers, names and addresses. No medical or claims information was breached.
</p>
        <p>
            <b>
    Our campus wanted to give you assurance that your Social Security Number has never been shared in our campus’ insurance program processes with Anthem. Our
    campus takes strict measures to protect this data element in your education record. </b>
</p>
        <p>
    You will be getting a personalized letter shortly from Anthem with further information about this matter. If you have any questions, you may also contact
    our Insurance Coordinator, Darcey Wiens, at 209-228-4876.
</p>

<br>
<hr/>
<br>

        <p>
    Dear Student,
</p>
        <p>
    Anthem, Inc. was recently the target of a very sophisticated external cyber-attack and data for its 80 million members was accessed. This potentially
    includes information about UC students covered trough the University’s student health insurance plan (UC SHIP).
</p>
        <p>
    Currently, Anthem is the network provider and claims administrator for UC SHIP at UC Merced. Anthem has provided services for UC SHIP from August 2011
    through the current academic year and previously to UC Merced as a fully insured carrier since August 2005.
</p>
        <p>
    According to Anthem, the information accessed through the attack includes member names, member health ID numbers/Social Security numbers (Anthem does not
    possess Social Security numbers for UC students), dates of birth, addresses, telephone numbers, email addresses, and employment information such as the UC
    campus or medical center location and the separation date.
</p>
        <p>
    Anthem has created a dedicated website (<a href="http://www.anthemfacts.com/">http://www.AnthemFacts.com</a>) where current and former Anthem members can
    find information. Members may also call 1-877-263-7995.
</p>
        <p>
    UC SHIP is in communications with Anthem to understand the effect of this data breach on current and former Anthem members. Here is a summary of
    information Anthem has provided:
</p>
        <p>
    Anthem’s investigation to date shows that no confidential health information (e.g., no claims information, no diagnosis) was accessed.
</p>
        <p>
    Anthem has advised UC that there is no indication at this time that any employees’, retirees’ or students’ personal information has been misused.
</p>
        <p>
    Anthem will enroll members affected by the attack in identity repair services. In addition, impacted members will be provided information on how to enroll
    in free credit monitoring.
</p>
        <p>
    Once the attack was discovered, Anthem immediately made every effort to close the security vulnerability, contacted the Federal Bureau of Investigation
    (FBI) and began fully cooperating with their investigation. Anthem has also retained Mandiant, one of the world’s leading cybersecurity firms, to provide
    incident response and security assessment services.
</p>
        <p>
    Additionally, Anthem has provided these <a href="/anthemfaq.pdf" target="_blank">Frequently Asked Questions (PDF)</a> that further explain the cyber-attack.
</p>
        <p>
    If you have questions, please contact Darcey Wiens in our UC Merced UC SHIP Insurance Office at 209.228.4876.
</p>

                </p>
            </div>
        </div>
    </div>


<div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>UC SHIP</h5>
                
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
                
            </div>
            <div class="ibox-content">
        <center>
               <a href="http://www.ucop.edu/ucship/campuses/merced/index.html"><img class="img-responsive" src="../assets/ucship.jpg"></a>
        </center>
        <br>
            </div>
        </div>
    </div>

</div>
</div>





