<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Appointments</h2>
        <ol class="breadcrumb">
    </ol>
</div>



        </div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">

<div class="col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Making an Appointment</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                When you call to schedule an appointment for medical care, please  <b> be prepared to describe the nature of your medical issue. </b>  Our staff needs this information to give you an appropriate appointment time.
                <br><br>
                You may be transferred to speak with a nurse, informed to come in right away, or be scheduled for a same day or future appointment.
                <br><br>
                There are same day appointments available for urgent needs. Call the Student Health Center at <b> (209) 228-2273 </b> early in the day for best availability.
                <br><br> 
                Students calling later in the day may be scheduled for a future date. Advance appointments are available for routine care and physical exams.
                <br><br>
                When you are given an appointment, please report to the Health Center 10-15 minutes early.
                <br><br>
                If you are unable to keep your medical appointment, please call the Student Health Center to cancel at least 24 hours in advance.   This will allow us to serve someone else.
                </p>
            </div>
        </div>
    </div>

<div class="col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Appointment Preparation</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                <strong>How to get the most out of your medical appointment</strong>
                When you are given an appointment, please report to the Health Center 10-15 minutes early. 
                       
                <br><br>
                <b> <span class="label label-success">1</span> Build a relationship with your provider </b><br>
                Studies show patient satisfaction is higher, and medical outcomes are better when patients choose a regular Primary Care Provider and maintain a relationship with them for their care. 
                <br><br>
                <b><span class="label label-info">2</span> Prepare for your visit</b><br>
                Prepare to review the onset, nature, and changes in your symptoms with your provider.  Some patients find it helpful to write down their symptoms to present to their provider.

                <br><br>
                <b><span class="label label-primary">3</span>State the reason(s) for your visit at the beginning of your visit</b><br> 
                Start your visit by stating your main problem or primary reason for the visit, and as well as any other items you'd like to discuss, so that you and your provider can agree upon an agenda for the visit.

                <br><br>
                <b><span class="label label-default">4</span> Plan to follow-up</b><br>
                Be ready to return for follow-up at future visits if your provider asks you to do so. Complex conditions or multiple concerns may require more than one visit to address, and chronic medical conditions like diabetes, asthma, depression, etc., often require regular follow-up to get the best care.

                <br><br>
                <b><span class="label label-primary">5</span> Ask Questions</b><br>
                Be sure you understand what your provider recommends for treatment or further evaluation, and that you know what is required of you to optimize your health and/or recovery. If you are not sure you know all the necessary steps in your treatment plan - ask for clarification!

                </p>
            </div>
        </div>
    </div>




</div>
</div>





