<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Benefits</h2>
        <ol class="breadcrumb">
        <li class="active">
            <strong>University of California Student Health Insurance Program (UC SHIP) 
            </strong>
        </li>
    </ol>
</div>



        </div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">

<div class="col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Benefits Information</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                    UC SHIP is a self-funded comprehensive medical, dental and vision insurance program designed to provide convenient and affordable access to medical care, mental health services, dental care and vision care beyond what is available on campus through SHS and <a href="http://counseling.ucmerced.edu/" target="_blank"> CAPS</a>.  UC SHIP also covers certain services at the student health center like prescriptions, immunizations and durable medical equipment.
                    <br><br>
                    UC SHIP meets all federal Affordable Health Care regulations. 
                    <br><br>
                    All the information can be found at the <a href="http://www.ucop.edu/ucship/campuses/merced/index.html" target="_blank">UC SHIP </a> web site for our campus. UC SHIP medical insurance coverage is provided by Anthem Blue Cross. 
                    <br><br>
                    <a href="/ucmshipstudent.pdf" target="_blank"> UC SHIP benefits summary for students</a>
                    <br>
                    <a href="/ucmshipdependent.pdf" target="_blank"> UC SHIP benefits summary for dependents</a>
                    <br><br>
                    On campus medical and mental health are offered by Student Health and Counseling Services at the Student Health and Wellness Center. Dental and Vision services are not available on campus, but are available in the Merced community through network providers. 
                     <div class="panel panel-default">
                        <div class="panel-body">
                            <a href="/shipbrochure1415.pdf" target="_blank"> UC SHIP Medical Benefits</a>    
                            <br>
                            are provided by Anthem Blue Cross 866-940-8306    
                            <br><br>
                            To Register online at Anthem Blue Cross please visit:
                            <a href="https://www.anthem.com/ca/health-insurance/login/registration" target="_blank"> Online Registration</a>   
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <a href="/vision.pdf" target="_blank"> UC SHIP Vision Benefits</a>
                            <br>
                            are provided by Anthem Blue Cross (Blue View Vision Insight) 866-940-8306  
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <a href="/dentalbenefits.pdf" target="_blank"> UC SHIP Dental Benefits</a> 
                            <br>
                            are provided by Delta Dental- 800-765-6003
                            <br><br>
                            To Register online at Delta Dental please visit:
                            <a href="http://www.deltadentalins.com/UCSHIP/" target="_blank">Online Registration</a>   
                        </div>
                    </div>
                </p>

            </div>
        </div>


        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Benefits Brochures</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
        <br>
                <p>
                Click here for <a href="/shipbrochure1516.pdf" target="_blank"> UC SHIP 2015-16 Medical Benefits Brochure.</a>
                <br>
                Click here for <a href="/shipbrochure1415.pdf" target="_blank"> UC SHIP 2014-15 Medical Benefits Brochure.</a>
                <br>
                Click here for <a href="/shipbrochure1314.pdf" target="_blank"> UC SHIP 2013-14 Medical Benefits Brochure.</a>
                <br>
                Click here for <a href="/pharmacybrochure.pdf" target="_blank"> UC SHIP 2013-14 Pharmacy Benefits Brochure. </a>
                </p>
            </div>
        </div>





    </div>



<div class="col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Important Note</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
        <br>
                <p>
                There is a $200 per plan year deductible for some medical services provided outside of SHS. Services that require the deductible are noted below.
                If providers or facilities are used that are not part of the Anthem Blue Cross Prudent Buyer Provider Network, claims will be paid at 60% of the non-Network charged fees (customary and reasonable), which is often significantly lower than the Network rate. For example, 90% coverage of the Network rate is going to be less costly to the patient than 60% coverage of the non-Network fees.
                <br><br>
                Students are responsible for no more than $3,000 of out-of-pocket expenses each plan year. If you have paid $3,000 in co-insurance for in-network services (excluding deductibles, Pharmacy co-payments, and other co-payments such as office visits), you will no longer be required to pay co-insurance for the remainder of the plan year. The out-of-pocket maximum does not apply to amounts exceeding stated service benefit limits or to services not covered by the plan. UC SHIP has an Unlimited lifetime maximum, no pharmacy cap and no cap on essential benefits.
                Dependent plans are available for spouses, domestic partners and/or children of UC Merced students.  You may purchase medical only or medical, dental and vision.
                </p>
            </div>
        </div>



    <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Pharmacy Benefits</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                    Catamaran is your pharmacy benefit administrator for the University of California Student Health Insurance Program (UC SHIP). For the 2015-2016 plan year, Catamaran will manage your pharmacy benefits with the goal to make getting well and staying well easy. Below is some important information to help you understand this transition to Catamaran.
                    <b>
                    <br><br>   
                    Your new ID cards
                    </b>
                    <br>
                    Once you have been enrolled for the plan year, you may access your ID card at <a target="_blank" href="https://www.myCatamaranRx.com"> www.myCatamaranRx.com </a> or the Catamaran Mobile App. Print and show your ID card when you pick up a prescription to pay the lowest price for your medication. Your ID card also has contact information should you have any questions about your pharmacy benefits. If you encounter a problem with being recognized in Catamaran’s system, please contact Anthem Blue Cross to verify enrollment in the plan.
                    <br><br>
                    <b> Get help online and on-the-go! </b>
                    <br>
                    Forgot your ID card at home? No problem! Get the Catamaran Mobile App and register with your student ID number—just scan the code on the <a target="_blank" href="/catamaranapp.pdf">Catamaran Mobile App Form </a> to start the download. This app will provide you with the information a pharmacy needs to fill your prescription, along with other great tools that can help you learn about your pharmacy benefit and the other services we provide.
                    <br><br>

                    There is also helpful information located on the UC SHIP website, <a target="_blank" href="http://www.ucop.edu/ucship"> www.ucop.edu/ucship </a> where you can find information regarding the Catamaran website, the mobile app, prescription copays, how to find a network pharmacy and what medications are on the formulary.
                    <br><br>
                    <b>Learn More</b>
                    <br>
                    <a target="_blank" href="/catamaranwelcome.pdf"> Catamaran Student Welcome Letter</a>
                    <br>
                    <a target="_blank" href="/reimbursementform.pdf"> Catamaran Member Reimbursemenet Drug Claim Form</a>
                    <br>
                    <a target="_blank" href="/catamaranapp.pdf">Catamaran Mobile App </a>
                    <br>
                    <a target="_blank" href="/catamarannew.pdf"> Catamaran New Member Home Delivery</a>

                </p>

            </div>
        </div>





    </div>


</div>

