<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Confidentiality</h2>
        <ol class="breadcrumb">
        <li class="active">
            <strong>Keep it confidential!</strong>
        </li>
    </ol>
</div>



        </div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">

<div class="col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>SB138</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                   If you are covered under another person's health plan in California - like your parent's or spouse's-your health information will not be kept private unless you take three simple steps. A confidential communication request is a request that communications be sent to the patient rather than policy holder at an alternate address or through an alternate mode of communication such as email. SB 138 requires the plans and insurers to comply with the confidential communication request in two situations: 
                   <br><br>
                   1. If the individual is requesting confidential communication regarding their receipt of sensitive services. "Sensitive services" is defined by the law to include, among other services, mental health counseling, reproductive health services, STD services, sexual assault services, and drug treatment.
                   <br><br>
                   2. If the individual states that disclosure of all or part of the information that might be revealed in an insurance communication could endanger the patient, regardless of the type of health care sought.
                   <br><br>
                   Take 3 Simple Steps: 
                   <br>
                    <span class="badge badge-primary">1.</span> Know your health plan and policy number. 
                    <br>
                    <span class="badge badge-info">2.</span> Contact your health plan.
                    <br>
                    <span class="badge badge-success">3.</span> Submit a confidential communications request
                    <br><br>
                    Learn more at:
                   <br>
                   <a href="http://myhealthmyinfo.org/" target="_blank"> http://myhealthmyinfo.org/ </a>
                   <br>
                    <a href="/confidential.pdf" target="_blank"> Confidential Communications Request (PDF) </a>
                </p>
            </div>
        </div>
    </div>

<div class="col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Parent Notice about Confidentiality</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                Your student will visit Student Health for a variety of health concerns, and we know that you will want information about the status of their care. If your student is over 15 years of age and self-sufficient, or over 18 years of age, we are required by law to keep that information confidential. We will be able to share information only with the written consent of your student, or in cases of an immediate threat to harm themself or others.
                </p>
            </div>
        </div>

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Privacy Notice</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                <b>If you are a UC Merced registered student,</b> as defined by Section 130.00 of the University of California’s Policies Applying to Campus Activities, Organizations and Students (PACAOS), the Family Educational Rights and Privacy Act (FERPA), the California Confidentiality of Medical Information Act (CMIA) and other applicable laws apply. The circumstances under which your personally identifiable information may be disclosed are listed in Section 130.00 of the PACAOS, available at <a href="/pacaos.pdf" target="_blank"> PACAOS (PDF) </a>.
                <br><br>
                The below document applies to how information and records regarding your health care at the UC Merced Student Health and Counseling & Psychological Services (SHS/CAPS) may be used and disclosed and how you can get access to this information:
                <br>
                <a href="/privacynotice.pdf" target="_blank"> Privacy Notice (PDF)</a>
                </p>
            </div>
        </div>
    </div>
</div>
</div>
