<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Emergency Care</h2>
        <ol class="breadcrumb">
    </ol>
</div>



        </div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">

<div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Emergency Contacts</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                  <p class="text-danger">If you have a medical emergency on campus call 911 or the campus police at 209-228-2677. </p>
                  If you suddenly become ill or have a medical emergency when the Health Center is closed (at night, weekends and holidays) please call 9-1-1 (9-9-1-1 if using a campus phone), the Campus Police at 209.228.2677, activate a Blue Emergency Phone Box, or go to the nearest urgent care or emergency room.
                  <br><br>
                  Be sure to contact the Health Center for follow-up care.
                  <br><br>
                  <b>Medical facilities located near the UCM campus:</b>
                  <br><br>
                  Mercy Medical Center Merced
                  <br>
                  Emergency Room
                  <br>
                  333 Mercy Avenue, Merced
                  <br>
                  209 564-5000
                  <br><br>
                  Patient First Urgent Care
                  <br>
                  394 East Yosemite Avenue, Merced
                  <br>
                  209 383-3990
                  <br><br>
                  Fountain Valley Urgent Care
                  <br>
                  374 W Olive Avenue, Suite A, Merced
                  <br>
                  209 384-5766
                  <br><br>
                  Castle Urgent Care
                  <br>
                  3605 Hospital Road, Atwater
                  <br>
                  209 381-2027
                  <br><br>
                  If you do not need an ambulance you may use the campus <a href="http://cattracks.ucmerced.edu">CatTracks</a> bus system or use the below taxi services:
                  <br><br>
                  Yellow Cab of Merced
                  <br>
                  209 723-0000
                  <br><br>
                  Merced Taxi
                  <br>
                  209 722-8294
                  <br><br>
                  Students under the university's Student Health Insurance Program can locate a Blue Cross Preferred Provider by accessing the <a target="_parent" href="http://www.bluecrossca.com/ucship">Anthem Blue Cross</a> web site or call 1-800-888-2018.
                </p>
            </div>
        </div>
    </div>



</div>
</div>





