<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>FAQ</h2>
        <ol class="breadcrumb">
    </ol>
</div>
        </div>
<div class="wrapper wrapper-content animated fadeInRight">


    <div class="faq-item">
        <div class="row">
            <div class="col-md-7">
                <a data-toggle="collapse" href="#faq1" class="faq-question"> I want to waive participation in the Student Health Insurance Plan (UC SHIP). How do I know if I qualify for the waiver? </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="faq1" class="panel-collapse collapse ">
                    <div class="faq-answer">
                        <p>
                         The student who wants to waive participation in the Student Health Insurance Plan must complete and submit an online <a href="https://my.ucmerced.edu" target="_blank"> Waiver Application </a> by no later than 11:59 p.m. on the published date. The insurance policy covering the student must provide benefits comparable to the university’s guidelines. An “approved” or “denied” notice appears after the student successfully submits their waiver application. The student should print this notice for their records.  An email is also sent to the student's UC Merced email account.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="faq-item">
        <div class="row">
            <div class="col-md-7">
                <a data-toggle="collapse" href="#faq2" class="faq-question"> Do I have to complete a waiver application each academic year? </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="faq2" class="panel-collapse collapse ">
                    <div class="faq-answer">
                        <p>
                         YES. Your approved waiver is effective for the current academic year only. If you want to waive participation in UC SHIP for the next academic year, you must file another waiver application.  
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="faq-item">
        <div class="row">
            <div class="col-md-7">
                <a data-toggle="collapse" href="#faq3" class="faq-question">  How do I apply for a waiver? </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="faq3" class="panel-collapse collapse ">
                    <div class="faq-answer">
                        <p>
                        Waiver applications must be completed and submitted online. If you are unable to file an online waiver application, you may obtain a paper waiver application from the Student Health Center Insurance Office.  
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="faq-item">
        <div class="row">
            <div class="col-md-7">
                <a data-toggle="collapse" href="#faq4" class="faq-question"> What information is required to complete the waiver application?  </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="faq4" class="panel-collapse collapse ">
                    <div class="faq-answer">
                        <p>
                        You will need a copy of your insurance identification card as well as your current benefit information.  Use the <a href="/waiverworksheet.pdf" target="_blank"> worksheet (PDF) </a> to gather the needed information before you start the waiver application process.   
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="faq-item">
        <div class="row">
            <div class="col-md-7">
                <a data-toggle="collapse" href="#faq5" class="faq-question"> I do not have all the information to complete the waiver application. What should I do?  </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="faq5" class="panel-collapse collapse ">
                    <div class="faq-answer">
                        <p>
                         You have two useful sources of information to help you complete your waiver application. First, you can refer to your insurance Evidence of Coverage booklet. The booklet is provided by your insurance company and describes all of your benefits and any limitations. If you cannot find your booklet, you may find it on the insurance company’s Web site or call the customer service number on your insurance card and ask for help.  
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="faq-item">
        <div class="row">
            <div class="col-md-7">
                <a data-toggle="collapse" href="#faq6" class="faq-question"> How will I know if my waiver application has been approved or denied? </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="faq6" class="panel-collapse collapse ">
                    <div class="faq-answer">
                        <p>
                        If you successfully submitted a waiver application online you will receive an instantaneous response. The last screen of the online waiver application process will provide you with an "approved" or "denied" notification. You should print this screen for your records.  In addition, you will get an email to your UC Merced email. 
                        <br><br>
                        If you submitted a paper waiver application, you will be notified via your UC Merced email address of your approval or denial.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="faq-item">
        <div class="row">
            <div class="col-md-7">
                <a data-toggle="collapse" href="#faq7" class="faq-question"> If my waiver application is denied, what options do I have?  </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="faq7" class="panel-collapse collapse ">
                    <div class="faq-answer">
                        <p>
                        If your waiver application is denied because your private insurance benefits are not comparable to UC SHIP, you may fill out a waiver appeal of denial form available in the <a><%= link_to "Forms Center", formscenter_path %></a> on the health services web site and through the Student Health Center Insurance Office. Appeals must be received within seven (7) calendar days of the date of denial. Appeals for denied waiver applications are accepted only for the current semester. Retroactive appeals are not accepted.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="faq-item">
        <div class="row">
            <div class="col-md-7">
                <a data-toggle="collapse" href="#faq8" class="faq-question"> I have waived UC SHIP, but I no longer have comparable health insurance or I lost my coverage. What should I do?</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="faq8" class="panel-collapse collapse ">
                    <div class="faq-answer">
                        <p>
                        You are required to maintain comparable health insurance at all times during your approved waiver period. If your health insurance coverage is terminated during the waiver period, you are required to enroll in UC SHIP. Submit a UC SHIP Enrollment Form with your separation notice from your previous insurance to the Student Health Center Insurance Office. UC SHIP coverage will be effective on the date of termination or receipt of the request (whichever is later) or a future date you specify.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


