<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Seasonal Flu</h2>
        <ol class="breadcrumb">
    </ol>
</div>



        </div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">

<div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Flu</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                  <b> Resources: </b>
                  <br>
                  <a href="http://flu.gov/">US Department of Health & Human Services</a>
                  <br>
                  <a href="http://www.cdc.gov/flu/">Center for Disease Control</a>
                  <br>
                  <a href="http://www.co.merced.ca.us/index.aspx?NID=82">Merced County Health Department</a>
                  <br>
                  <a href="http://www.cdph.ca.gov/HealthInfo/discond/Pages/Influenza(Flu).aspx">California Department of Public Health</a>

                  <br><br>

                  <b>What sort of flu season is expected this year?</b>
                  <br>
                  Flu seasons are unpredictable in a number of ways. Although epidemics of flu happen every year, the timing, severity, and length of the epidemic depends on many factors, including what influenza viruses are spreading and whether they match the viruses in the vaccine.
                  <br><br>
                  <b>Take 3 Steps To Prevent The Flu</b>
                  <br>
                  <u><b><a href="http://cdc.gov/flu/protect/vaccine/">Take time to get a flu vaccine.</a></b></u>
                  <br>
                    <img alt="image" class="img-circle m-t-xs center img-responsive pull-right" src="<%= image_path('flu1.jpg') %>">
                    <img class="featurette-image img-responsive pull-right" src="../assets/step1.jpg">
                    <ul><li>
                     CDC recommends a yearly flu vaccine as the first and most important step in protecting against flu viruses. </li>
                    <li> While there are many different flu viruses, the flu vaccine protects against the three viruses that research suggests will be most common.
                    </li>
                    <li>Learn about the upcoming <a href="http://www.cdc.gov/flu/about/season/upcoming.htm" target="_blank">flu vaccine</a>.
                    </li>
                    <li> Everyone 6 months of age and older should get vaccinated against the flu.
                    </li>
                    <li> People at high risk of serious flu complications include young children, pregnant women, people with chronic health conditions like asthma, diabetes or heart and lung disease and people 65 years and older.
                    </li>
                    <li>Vaccination of high risk persons is especially important to decrease their risk of severe flu illness.
                    </li>
                    <li>Vaccination also is important for health care workers, and other people who live with or care for high risk people to keep from spreading flu to high risk people.
                    </li>
                    <li>Children younger than 6 months are at high risk of serious flu illness, but are too young to be vaccinated. People who care for them should be vaccinated instead.
                    </li>
                  </ul>
                  <u><b><a href="http://www.cdc.gov/flu/protect/habits/">Take everyday preventive actions to stop the spread of germs.</a></b></u>
                  <br>
                    <img alt="image" class="img-circle m-t-xs center img-responsive pull-right" src="<%= image_path('flu2.jpg') %>">
                    <img class="featurette-image img-responsive pull-right" src="../assets/step2.jpg">
                    <ul><li>
                    Cover your nose and mouth with a tissue when you cough or sneeze. Throw the tissue in the trash after you use it.
                    </li> 
                    <li> Wash your hands often with soap and water. If soap and water are not available, use an alcohol-based hand rub.
                    </li> 
                    <li> Avoid touching your eyes, nose and mouth. Germs spread this way.
                    </li> 
                    <li> Try to avoid close contact with sick people.
                    </li> 
                    <li> If you are sick with flu–like illness, CDC recommends that you stay home for at least 24 hours after your fever is gone except to get medical care or for other necessities. (Your fever should be gone without the use of a fever-reducing medicine.) <a href="#flutable">See Cold versus Flu symptoms</a>.
                    </li> 
                    <li> While sick, limit contact with others as much as possible to keep from infecting them.
                    </li> 
                    </ul>


                  <u><b><a href="http://www.cdc.gov/flu/antivirals/index.htm">Take flu antiviral drugs if your doctor prescribes them.</a></b></u>
                  <br>
                    <img alt="image" class="img-circle m-t-xs center img-responsive pull-right" src="<%= image_path('flu3.jpg') %>">
                    <img class="featurette-image img-responsive pull-right" src="../assets/step3.jpg">
                    <ul><li> If you get the flu, antiviral drugs can treat your illness.
                    </li>
                    <li> Antiviral drugs are different from antibiotics. They are prescription medicines (pills, liquid or an inhaled powder) and are not available over-the-counter.
                    </li>
                    <li> Antiviral drugs can make illness milder and shorten the time you are sick. They may also prevent serious flu complications.
                    </li>
                    <li> It’s very important that antiviral drugs be used early (within the first 2 days of symptoms) to treat people who are very sick (such as those who are hospitalized) or people who are sick with flu symptoms and who are at increased risk of severe flu illness, such as pregnant women, young children, people 65 and older and people with certain chronic health conditions.
                    </li>
                    <li> Flu-like symptoms include fever, cough, sore throat, runny or stuffy nose, body aches, headache, chills and fatigue. Some people may also have vomiting and diarrhea. People may be infected with the flu, and have respiratory symptoms without a fever.
                    </li>
                    </ul>
                    <br><br>

                    More information can be found at <a href="http://cdc.gov/flu">http://cdc.gov/flu</a>
                    <br>
                    Hand Washing - The best way to prevent infection
                    <a href="/washhands.mp4" target="_blank"> Hand Washing Podcast</a>
                    <br><br>
                  <h3> Cold versus Flu symptoms </h3>
                  <a name="flutable"></a>
                  <table class="table table-striped table-condensed table-hover">
                           <thead>
                            <tr> 
                                <th>Symptom</th>
                                <th>Cold</th>
                                <th>Flu</th>
                            </tr>
                            </thead>


                          <tr>
                            <td>Fever</td>
                            <td>Rare</td>
                            <td>Usual; high 100º F - 102º F</td>
                          </tr>
                          <tr>
                            <td>Headache</td>
                            <td>Rare</td>
                            <td>Common</td>
                          </tr>
                          <tr>
                            <td>General Aches, Pains</td>
                            <td>Slight</td>
                            <td>Usual; often severe</td>
                          </tr>
                          <tr>
                            <td>Fatigue, Weakness</td>
                            <td>Sometimes</td>
                            <td>Usual; up to 2-3 weeks</td>
                          </tr>
                          <tr>
                            <td>Extreme Exhaustion</td>
                            <td>Never</td>
                            <td>Usual; at beginning</td>
                          </tr>
                          <tr>
                            <td>Stuffy Nose</td>
                            <td>Common</td>
                            <td>Sometimes</td>
                          </tr>
                          <tr>
                            <td>Sneezing</td>
                            <td>Usual</td>
                            <td>Sometimes</td>
                          </tr>
                          <tr>
                            <td>Sore Throat</td>
                            <td>Common</td>
                            <td>Sometimes</td>
                          </tr>
                          <tr>
                            <td>Chest Discomfort, Cough</td>
                            <td>Mild-Moderate hacking cough</td>
                            <td>Common, Can be severe</td>
                          </tr>
                          <tr>
                            <td>Treatment</td>
                            <td>Antihistamines, Decongestant. Nonsteroidal anti-inflammatory meds</td>
                            <td>Antiviral medicines - See your doctor</td>
                          </tr>
                          <tr>
                            <td>Prevention</td>
                            <td>Wash hands often. Avoid close contact to anyone with a cold</td>
                            <td>Annual Vaccination; antiviral medicine - See your doctor</td>
                          </tr>
                          <tr>
                            <td>Complications</td>
                            <td>Sinus congestion, middle ear infection, Asthma</td>
                            <td>Bronchitis, Pneumonia, Can be life threatening</td>
                          </tr>

                        </table>
                </p>
            </div>
        </div>
    </div>



</div>
</div>





