<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Health Promotion</h2>
        <ol class="breadcrumb">
    </ol>
</div>



        </div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">

<div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Mission Statement</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                The mission of the Health Promotion department is to provide students with the information and skills necessary to make healthy life choices, to create a campus and community environment that encourages such choices, and to connect students with appropriate resources on and off campus. The department will implement evidence-based primary prevention programs that utilize peer-to-peer education and inter-department collaboration. Such programs designed to improve student wellness will ultimately foster a more productive learning environment at UC Merced and prepare students for a healthier future after graduation.
                <br><br>
                <strong> Health Education Staff </strong>
                <br>
                Kristin Hlubik, Coordinator (209) 228-4191

                </p>
            </div>
        </div>
    </div>




<div class="col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Student Health 101</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <a href="http://readsh101.com/ucmerced.html"> 
                    <img class="img-responsive" src="../assets/101.jpg">
                </a>
            </div>
        </div>
    </div>

<div class="col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>7 Dimensions of Wellness</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <a href="/sevendimensions"> 
                  <img class="img-responsive" src="../assets/seven.jpg">
                </a>
            </div>
        </div>
    </div>



</div>
</div>





