<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>HIV Testing</h2>
        <ol class="breadcrumb">
    </ol>
</div>



        </div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">

<div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Anonymous Testing</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                Health Services offers FREE Anonymous HIV screening in the Health Center on Thursdays in the AM. Appointments are made by calling the Health Center appointment desk at 209-228-2273. The Health Educator will provide pre- and post-testing education. Our clinical staff will conduct the HIV screening test.
                </p>
            </div>
        </div>
    </div>


</div>
</div>





