<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Marijuana Facts</h2>
        <ol class="breadcrumb">
    </ol>
</div>



        </div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">

<div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Live Naturally High</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                    <b> Seventy-two percent of UC Merced students choose not to use marijuana. </b>  For those who decide to use marijuana or are thinking about trying it, use the information below to help you stay safe and focused on academic success. 
                    <br><br>
                    UC policy prohibits possession and use of marijuana on campus, even with a California medical marijuana card.
                    <br><br>
                    The effects of marijuana vary from person to person and depend on many factors, including:
                    <br><br>
                    <ul>
                    <li>
                         Whether it is smoked or eaten (i.e. brownies, cookies, sandwiches)
                    </li>
                    <li>
                         Concentration of THC (the key ingredient in marijuana)
                    </li>
                    <li>
                         Previous experience with the drug
                    </li>
                    <li>
                         Whether it is used with alcohol and/or other drugs
                    </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>


<div class="col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Psychological Effects</h5>
                
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
                
            </div>
            <div class="ibox-content">
                <p>
                    <ul>
                        <li>
                            Feelings of relaxation, sociability and euphoria
                        </li>

                        <li>
                            Lack of motivation
                        </li>
                        <li>
                             Reduced inhibitions
                        </li>
                        <li>
                             Impaired learning, memory, attention and concentration (can last for a few days and up to weeks)
                        </li>
                        <li>  
                             Delusions, hallucinations and distorted perceptions
                        </li>
                        <li>
                             Increased anxiety for some people and reduced anxiety for others
                         </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Physical Effects</h5>
                
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
                
            </div>
            <div class="ibox-content">
                <p>
                    <ul>
                        <li>
                            Increased appetite 
                        </li>
                        <li>
                            Nausea relief
                        </li>
                        <li>
                             Increased heart rate
                        </li>
                        <li>
                             Drowsiness 
                        </li>
                        <li>
                            Reduced pain
                        </li>
                        <li>
                            Impaired coordination and balance
                        </li>
                        <li>
                             Increased sensitivity to sound and temperature
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>

<div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Smoking versus ingesting</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
 
                The effects of smoking and eating marijuana are quite different.  Essentially, eating it results in a more intense and longer-lasting high.  The chart below highlights some main differences.


                 <table class="table table-striped table-condensed table-hover table-responsive">
                         <thead>
                          <tr> 
                              <th></th>
                              <th>Smoking Marijuana</th>
                              <th>Ingesting Marijuana</th>
                          </tr>
                          </thead>


                        <tr>
                          <td>Approximate time it takes to feel the effects</td>
                          <td>
                          5-10 minutes
                          </td>
                          <td>
                          60-120 minutes
                          </td>
                        </tr>
                    

                        <tr>
                          <td>Length of "high"</td>
                          <td>
                          3-5 hours
                          </td>
                          <td>
                          6-10 hours; sometimes longer
                          </td>
                        </tr>

                        <tr>
                          <td>Drug effects</td>
                          <td>
                          Depressant
                          </td>
                          <td>
                          Similar to the effects of psychedelic drugs
                          </td>
                        </tr>

                        <tr>
                          <td>Ability to control dose</td>
                          <td>
                          Easier
                          </td>
                          <td>
                          Difficult
                          </td>
                        </tr> 

                      </table>
                </p>
            </div>
        </div>
    </div>





<div class="col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Higher doses of THC</h5>
                
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
                
            </div>
            <div class="ibox-content">
                <p>
                    Butane hash oil (also known as hash oil and honey oil) is a waxy substance that is made using marijuana and butane and has a high concentration of THC (60-90%).   The effects of smoking BHO are similar to the effects of using psychedelic drugs.  These effects include hallucinations, panic, confusion, paranoia and agitation. Increased doses may cause stronger effects. 
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Marijuana additives</h5>
                
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
                
            </div>
            <div class="ibox-content">
                <p>
                    More than 400 chemicals have been identified in marijuana, and not all of them occur naturally (i.e. pesticides).   Marijuana can also be laced with other drugs including PCP, LSD and crack/cocaine.  The more you know about what is in your marijuana and where it came from, the better.  
                </p>
            </div>
        </div>
    </div>



<div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Marijuana Safety Tips</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                      <ul>
                            <li>
                      Eat a solid meal first
                    <li>
                       Avoid mixing alcohol and marijuana use, especially if it’s your first time using marijuana
                    </li>
                    <li>
                       Start with a very small dose and wait 2 hours to determine how your body is going to react, especially when using edibles
                    </li>
                    <li>
                       Everyone responds to THC differently; don’t base your expectations on a friend’s experience
                    </li>
                    <li>
                       Don’t expect the same high from smoking and eating marijuana
                    </li>
                    <li>
                       When using edibles, know where it came from and what’s in it
                    </li>
                    <li>
                       Do not drive while experiencing the effects of marijuana
                    </li>
                    <li>
                       If you overdo it, remain calm, find a safe place to relax, ask a friend to monitor your condition and call for help
                    </li>
                    <li>
                         For tips specific to using edibles, read:
                            <a href="http://www.hightimes.com/read/10-commandments-marijuana-edible-safety">
                                http://www.hightimes.com/read/10-commandments-marijuana-edible-safety
                            </a>
                    </li>
                    </ul>

                    </p>
                    <div class="table-responsive">

                     <table class="table table-striped table-condensed table-hover table-responsive">
                             <thead>
                              <tr> 
                                  <th>Online Resources</th>
                                  <th>Link</th>
                              </tr>
                              </thead>


                            <tr>
                              <td>General Information</td>
                              <td>
                            <a href="http://www.drugabuse.gov/drugs-abuse/marijuana">http://www.drugabuse.gov/drugs-abuse/marijuana</a>
                            <br>
                            <a href="http://www.csam-asam.org/adverse-effects-marijuana-healthcare-professionals">
                                http://www.csam-asam.org/adverse-effects-marijuana-healthcare-professionals
                            </a>
                              </td>
                            </tr>
                        

                            <tr>
                              <td>Marijuana myths and facts</td>
                              <td>
                            <a href="http://www.drugpolicy.org/drug-facts/10-facts-about-marijuana">http://www.drugpolicy.org/drug-facts/10-facts-about-marijuana</a>
                            <br>
                            <a href="https://www.ncjrs.gov/ondcppubs/publications/pdf/marijuana_myths_facts.pdf">
                                https://www.ncjrs.gov/ondcppubs/publications/pdf/marijuana_myths_facts.pdf
                            </a>
                              </td>
                            </tr>

                            <tr>
                              <td>Smoking versus edibles</td>
                              <td>
                                <a href="http://www.thedailybeast.com/articles/2014/06/13/smoke-vs-snack-why-edible-marijuana-is-stronger-than-smoking.html">
                                http://www.thedailybeast.com/articles/2014/06/13/smoke-vs-snack-why-edible-marijuana-is-stronger-than-smoking.html
                            </a>
                              </td>
                            </tr>

                          </table>
                    </div>

                     <table class="table table-striped table-condensed table-hover">
                             <thead>
                              <tr> 
                                  <th>Campus Resources</th>
                                  <th>Contact Information</th>
                              </tr>
                              </thead>


                            <tr>
                              <td>Student Health Center</td>
                              <td>
                            Telephone: 209-228-2273 
                              </td>
                            </tr>
                        

                            <tr>
                              <td>Counseling & Psychological Services</td>
                              <td>
                              Telephone: 209-228-4266 
                              </td>
                            </tr>

                            <tr>
                              <td>Health Promotion</td>
                              <td>
                              Telephone: 209-228-4191
                              </td>
                            </tr>

                          </table>

    
                </p>
            </div>
        </div>
    </div>




</div>
</div>





