<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Mobile Insurance Applications</h2>
        <ol class="breadcrumb">
    </ol>
</div>



        </div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">

<div class="col-md-8">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Catamaran</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>

                Catamaran is your pharmacy benefit administrator for the University of California Student Health Insurance Program (UC SHIP). For the 2015-2016 plan year Catamaran will manage your pharmacy benefits with the goal to make getting well and staying well easy. Below is some important information to help you understand this transition to Catamaran.
                <br><br>
                <a href="/Catamaran_Reimbursement.pdf" target ="_blank">
                Catamaran member reimbursement drug claim form
                </a>
                </p>
            </div>
        </div>

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>UC Ship Mobile App</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                StudentHealth is an app that allows UC SHIP members and their dependents to
                access plan ID cards and benefits information from their mobile devices.
                Anthem Blue Cross and UC SHIP collaborated with Mobile Health Consumer to
                introduce this new app for the 2015/2016 plan year.

                <a href="/mobile.pdf" target ="_blank">
                     <img class="img-responsive" src="../assets/ucshipmobile.jpg">
                </a>
                
                </p>

            </div>
        </div>
    </div>


<div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Catamaran</h5>
                
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
                
            </div>
            <div class="ibox-content">
        <center>
                <img class="img-responsive" src="../assets/catamaran.jpg">
        </center>
        <br>
            </div>
        </div>
    </div>

</div>
</div>





