<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>National College Health Assesment</h2>
        <ol class="breadcrumb">
    </ol>
</div>



        </div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">

<div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>NCHA</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                  The <b>American College Health Association-National College Health Assessment (ACHA-NCHA)</b> is a nationally recognized research survey that collects precise data about UC Merced students’ health habits, behaviors, and perceptions.
                  <br><br>
                  The ACHA-NCHA Survey offers a way to map the widest range of health issues affecting our campus:
                  <br><br>
                  • Alcohol, tobacco, and other drug use
                  <br>
                  • Sexual health
                  <br>
                  • Weight, nutrition, and exercise
                  <br>
                  • Mental health
                  <br>
                  • Personal safety and violence
                  <br><br>
                  We use the suvey to identify and prioritize our health initiatives on campus. We use the data to inform policy and programming decisions not only in the "student health center" but also in other campus programs that care about the wellness of students. 
                  <br><br>
                  <a href="/summary2008.pdf" target="_blank"> Fall 2008 UC Merced Executive Summary </a>
                  <br>
                  <a href="/summary2011.pdf" target="_blank"> Spring 2011 UC Merced Executive Summary </a>
                  <br>
                  <a href="/summary2013.pdf" target="_blank"> Spring 2013 UC Merced Executive Summary </a>
                  <br>
                  <a href="/summary2015.pdf" target="_blank"> Spring 2015 UC Merced Executive Summary </a>
                </p>
            </div>
        </div>
    </div>



</div>
</div>





