<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Nurses' Clinic</h2>
        <ol class="breadcrumb">
    </ol>
</div>



        </div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">

<div class="col-md-8">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Allergy Services</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                Allergy shots are given to students who have already seen an allergist and are on a regular series of desensitization injections. Our role is limited solely to assisting your doctor by administering your injections and handling any acute allergic reaction you might have. We do not start initial treatment. Your allergist is responsible for determining the composition, dose and appropriate use of the extracts. Allergens may be mailed to us or brought to the clinic for storage. They must be refrigerated.

                For more specific information about allergy shots and new allergy patient forms see below:
                <br><br>
                <a href="/allergyinformation.pdf" target="_blank"> Allergy Information (PDF) </a> 
                <br>
                <a href="/allergyquestionnaire.pdf" target="_blank"> Allergy Questionnaire (PDF) </a>
                </p>
            </div>
        </div>


        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Immunization Services</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                We provide routine immunizations such as: Tetanus/Diphtheria or TDaP, Hepatitis A & B; Flu; Measles, Mumps, Rubella (MMR), Gardasil (HPV vaccine); influenza and Meningitis. Tuberculosis (TB) tests are also available.
                <br><br>
                The cost for each immunization varies and some are administered in a series of shots. Patients not covered by the university insurance plan (UC SHIP) must pay for immunizations online prior to the scheduled appointment. A copy of the receipt must be printed and brought to the appointment. For payment information see <a><%= link_to "cost of services", payments_path %></a>. For questions about payment and scheduling please call the appointment desk at 209-228-2273. 
                <br><br>
                It is important to bring a copy of your previous immunizations, so you can receive the appropriate injections and their updates.
                Click the following link for additional information: <br><br>
                <a href="/immunizationpolicy.pdf" target="_blank"> Immunization Requirements (PDF) </a>
                </p>
            </div>
        </div>


        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Pregnancy Testing, Options & Information </h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                Some people have basic questions about how pregnancy happens. Some may have questions about avoiding a pregnancy. Some may wonder about options for an unintended pregnancy.
                <br><br>
                Pregnancy testing is available by nursing appointment in the student health center. There is a fee associated with this service regardless of insurance coverage. Pregnancy testing must be paid for online prior to the scheduled appointment and a copy of the receipt must be brought to the appointment. For payment information see <a><%= link_to "cost of services", payments_path %></a>. There is no fee to come in and speak to the nurse about pregnancy testing, options and information. Call the appointment desk at 209-228-2273 to schedule a nursing appointment or discuss payment options. 
                <br><br>
                Only you can decide what is best for you when it comes to pregnancy. The Student Health Center clinicians are available to help. A staff member at your local Planned Parenthood health center can also talk with you about all of your pregnancy-related concerns. We can help you get the care that you need.
                See link for additional information: 
                <br><br>
                <a href="http://www.plannedparenthood.org/health-info/pregnancy" target="_blank">http://www.plannedparenthood.org/health-info/pregnancy</a>
                </p>
            </div>
        </div>


        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Emergency Contraception For All Students (EC)  </h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                Emergency Contraception is available by nursing appointment for a fee in the student health center regardless of insurance coverage. The most commonly known medication is Plan B. At the Student Health Center we carry an equivalent called "Next Choice." It is also available at any pharmacy without a prescription to those 17 years and older. It is to be taken as soon as possible within 72 hours of unprotected sex or birth control failure. Call the appointment desk at 209-228-2273 to schedule a nursing appointment.  


                <div class="faq-item">
                            <a data-toggle="collapse" href="#faq1" class="faq-question"> What are the directions for taking "Next Choice"? </a>
                            <div id="faq1" class="panel-collapse collapse ">
                                <div class="faq-answer">
                                    <p>
                                     The patient should take one tablet as soon as possible within 72 hours after unprotected sex. It can be used up to 5 days after unprotected sex or birth control failure, but becomes less effective after 72 hrs. 
                                    </p>
                        </div>
                    </div>
                </div>

               <div class="faq-item">
                            <a data-toggle="collapse" href="#faq2" class="faq-question"> Are there any side effects after taking "Next Choice"? </a>
                            <div id="faq2" class="panel-collapse collapse ">
                                <div class="faq-answer">
                                    <p>
                                     Side effects are minimal with "Next Choice". Some patients may experience mild nausea and some people get temporary breast tenderness until their next menstrual cycle. Also, "Next Choice" will often change the timing for menstruation.
                                    </p>
                        </div>
                    </div>
                </div>



               <div class="faq-item">
                            <a data-toggle="collapse" href="#faq3" class="faq-question"> How effective is "Next Choice"? </a>
                            <div id="faq3" class="panel-collapse collapse ">
                                <div class="faq-answer">
                                    <p>
                                     "Next Choice" is effective approximately 90% of the time when used within 72 hours. It is not 100% effective. It is more effective the sooner it is used. Contraception must be used consistently at all times to prevent pregnancy. If you use "Next Choice", and if you do not begin menstruation within 3 weeks, then you need to perform a pregnancy test.
                                    </p>
                        </div>
                    </div>
                </div>


               <div class="faq-item">
                            <a data-toggle="collapse" href="#faq4" class="faq-question"> What about payment for "Next Choice"?</a>
                            <div id="faq4" class="panel-collapse collapse ">
                                <div class="faq-answer">
                                    <p>
                                     There is a  <a><%= link_to "fee", payments_path %></a> for “Next Choice” regardless of insurance coverage. Fees must be paid online prior to your appointment and a copy of the receipt must be brought to the appointment. Call the appointment desk with questions about appointments and payment options. 209-228-2273. 
                                    </p>
                        </div>
                    </div>
                </div>


               <div class="faq-item">
                            <a data-toggle="collapse" href="#faq5" class="faq-question"> Can I get EC at a local pharmacy or Planned Parenthood?</a>
                            <div id="faq5" class="panel-collapse collapse ">
                                <div class="faq-answer">
                                    <p>
                                     Yes. Emergency contraception is now available without a prescription to those 17 years and older at any local pharmacy or at the local Planned Parenthood. See: <br>
                                     <a href="http://www.plannedparenthood.org/health-center/california/merced/95348/merced-health-center-2526-90130#!emergency-contraception" target="_blank">http://www.plannedparenthood.org/health-center/california/merced/95348/merced-health-center-2526-90130#!emergency-contraception</a>
                                    </p>
                        </div>
                    </div>
                </div>



               <div class="faq-item">
                            <a data-toggle="collapse" href="#faq6" class="faq-question"> Are there any requirements?</a>
                            <div id="faq6" class="panel-collapse collapse ">
                                <div class="faq-answer">
                                    <p>
                                     Next Choice is kept behind the counter in the pharmacy. 
                                    </p>
                        </div>
                    </div>
                </div>


               <div class="faq-item">
                            <a data-toggle="collapse" href="#faq7" class="faq-question">Who can buy it?</a>
                            <div id="faq7" class="panel-collapse collapse ">
                                <div class="faq-answer">
                                    <p>
                                     Both women and men 17 and older can purchase EC without a prescription. EC is also available by prescription to students under 17.
                                    </p>
                        </div>
                    </div>
                </div>

               <div class="faq-item">
                            <a data-toggle="collapse" href="#faq8" class="faq-question">Are there any restrictions on getting it often or getting more than one at a time?</a>
                            <div id="faq8" class="panel-collapse collapse ">
                                <div class="faq-answer">
                                    <p>
                                     There are no other restrictions. Students can get more than one at a time and can get it as often as they like.
                                    </p>
                        </div>
                    </div>
                </div>

                </p>
            </div>
        </div>

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Walk-In / Same Day Visits — For illness or injury</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                Student Health Center Same Day services are available on a walk in basis for ill or injured students. 
                <br><br>
                Students speak to the triage nurse first.  The triage nurse will assist in making an appropriate plan of care.  There is no cost to speak with the triage nurse.
                <br><br>
                Same Day appointments are limited.  Come in or call early in the day for an appointment 209-228-2273. The health center hours are Mon-Fri 8:00a-4:30p, excluding holidays or campus closure dates. 
                <br><br>
                Emergency — call 911, if you are using a campus phone call 9-911.
                <br>
                The Student Health Center is NOT an Emergency Room.  By calling 911, first responders will provide you with the most prompt response to an emergency, whether on or off campus.
                </p>
            </div>
        </div>


        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Advice Nurse</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                Emergency — call 911, if you are using a campus phone call 9-911.
                <br>
                Contact 209-228-4192 Mon—Fri 9:00a-4:30p, excluding holidays or campus closure dates.
                <br><br>
                Not sure what to do?  The Advice Nurse will help you figure it out.  If your call goes to voicemail, please don’t hang up—leave a message!  The Advice Nurse will get back to you promptly. You can also use our secured messaging system for non-emergent matters. <a href="http://myhealth.ucmerced.edu"><i class="fa fa-h-square fa-fw"></i> myHealth-Messaging</a>
                <br><br>
                <b>Anthem Blue Cross 24/7 Nurse Line 1-800-700-0197</b>
                <br><br>
                Students covered by UC SHIP can call the 24/7 Nurse Line 24 hours a day, seven days a week and speak confidentially to a  registered nurse. These nurses are trained to help you make more informed decisions about your health situation. This number is also on the back of your member ID card. A nurse is just a phone call away!
                <br><br>
                This information was adapted from the UCSC health center website. <a href="http://healthcenter.ucsc.edu/services/immunization.html" target="_blank">http://healthcenter.ucsc.edu/services/immunization.html</a>
                </p>
            </div>
        </div>




    </div>


<div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Welcome to the Nurses' Clinic</h5>
                
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
                
            </div>
            <div class="ibox-content">
        <center>
                <img alt="image" class="m-t-xs center img-responsive" src="<%= image_path('nursesclinic.jpg') %>">
        </center>
        <br>
            </div>
        </div>
    </div>
</div>











</div>





