<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Online Resources</h2>
        <ol class="breadcrumb">
    </ol>
</div>



        </div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">

<div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Find Help Online!</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                  Disclaimer: The UC Merced Student Health Center offers no endorsement of and assumes no liability for damages incurred directly or indirectly as a result of errors, omissions or discrepancies. These resources are provided to give you access to organizations whose expertise may be of value as an educational or reference tool. These sites are not controlled, sponsored or endorsed by UC Merced Student Health Services. For specific advice about your health and wellness, please schedule an appointment to speak to a health care clinician or counseling professional. </p>


                           <table class="table table-striped table-condensed table-hover" border="0">
                  <tbody>
                  <tr>
                  <td><b>Alcohol & Other Drugs</b></td>
                  </tr>

                  <tr>
                    <td> College Drinking Prevention</td>
                    <td><a href="http://www.collegedrinkingprevention.gov/">www.collegedrinkingprevention.gov</a></td>
                  </tr>


                  <tr>
                    <td> Drug Help</td>
                    <td><a href="http://www.drughelp.com">www.drughelp.com</a></td>
                  </tr>


                  <tr>
                    <td> National Council on Alcoholism & Drug Dependence</td>
                    <td><a href="http://www.ncadd.org">www.ncadd.org</a></td>
                  </tr>


                  <tr>
                  <td><b>Eating Well</b></td>
                  </tr>


                  <tr>
                    <td> National Eating Disorders Association</td>
                    <td><a href="http://www.nationaleatingdisorders.org">www.nationaleatingdisorders.org</a></td>
                  </tr>


                  <tr>
                    <td> Produce for a Better Health Foundation</td>
                    <td><a href="http://www.fruitsandveggiesmorematters.org">www.fruitsandveggiesmorematters.org</a></td>
                  </tr>



                  <tr>
                  <td><b>Fitness</b></td>
                  </tr>


                  <tr>
                    <td> American Council on Exercise</td>
                    <td><a href="http://www.acefitness.org/acefit/default.aspx">www.acefitness.org/acefit/default.aspx</a></td>
                  </tr>


                  <tr>
                  <td><b>General Information</b></td>
                  </tr>

                  <tr>
                    <td> American Academy of Family Practice</td>
                    <td><a href="http://www.familydoctor.org">www.familydoctor.org</a></td>
                  </tr>


                  <tr>
                    <td> Centers for Disease Control</td>
                    <td><a href="http://www.cdc.gov">www.cdc.gov</a></td>
                  </tr>


                  <tr>
                    <td> Health Questions</td>
                    <td><a href="http://www.goaskalice.columbia.edu/">www.goaskalice.columbia.edu/</a></td>
                  </tr>


                  <tr>
                    <td> Mayo Clinic</td>
                    <td><a href="http://www.mayoclinic.com">www.mayoclinic.com</a></td>
                  </tr>


                  <tr>
                    <td> National Health Information</td>
                    <td><a href="http://www.healthfinder.gov">www.healthfinder.gov</a></td>
                  </tr>


                  <tr>
                    <td> Virtual Hospital</td>
                    <td><a href="http://www.uihealthcare.org/vh/">www.uihealthcare.org/vh/</a></td>
                  </tr>


                  <tr>
                  <td><b>Mental Health</b></td>
                  </tr>

                  <tr>
                    <td>Ulifeline</td>
                    <td><a href="http://www.ulifeline.org/ucmerced/">www.ulifeline.org/ucmerced/</a></td>
                  </tr>

                  <tr>
                    <td>Ulifeline</td>
                    <td><a href="http://www.relaxation.com">www.relaxation.com</a></td>
                  </tr>

                  <tr>
                  <td><b>Pharmacy</b></td>
                  </tr>

                  <tr>
                    <td>PDR – Getting Well</td>
                    <td><a href="http://www.pdrhealth.com">www.pdrhealth.com</a></td>
                  </tr>

                  <tr>
                  <td><b>Sexual Health</b></td>
                  </tr>


                  <tr>
                    <td>American Social Health Association</td>
                    <td><a href="http://www.iwannaknow.org">www.iwannaknow.org</a></td>
                  </tr>


                  <tr>
                    <td>Bacchus & Gamma Peer Education</td>
                    <td><a href="http://www.smartersex.org/index.asp">www.smartersex.org/index.asp</a></td>
                  </tr>


                  <tr>
                    <td>Kaiser Family Foundation</td>
                    <td><a href="http://www.itsyoursexlife.com">www.itsyoursexlife.com</a></td>
                  </tr>

                  </table>
                </p>
            </div>
        </div>
    </div>



</div>
</div>





