<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Patient Rights & Responsibilities</h2>
        <ol class="breadcrumb">
    </ol>
</div>



        </div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">

<div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Patient Rights & Responsibilities</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                The staff at the Student Health Center is pleased to work with you to keep you in optimal health. We would like your visits with our staff to be valuable, whether they are to learn about and maintain your health or to help you recover from illness or injury. We encourage you to take an active role in managing your health. We can work together most effectively if you understand what to expect from us and what we expect from you. 
                <br><br>
                <strong>
                    It is your right to:
                </strong>
                <ul>
                    <li>Receive considerate and respectful care </li>
                    <li>Receive complete, current, and clear information about your diagnosis, treatment and prognosis. </li>
                    <li>Give informed consent prior to the start of any procedure and/or treatment  </li>
                    <li>Know about any <a><%= link_to "fees for service", payments_path %></li>
                    <li>Refuse treatment to the extent provided by law </li>
                    <li><%= link_to "Confidentiality", confidentiality_path %></a> as prescribed by law</li>
                    <li>Consent or refuse to participate in reaserch projects affecting your care  </li>
                    <li>Change primary or specialty <a><%= link_to "health care providers", meetthestaff_path %></a>, if available</li>
                    <li>Know the appropriate channels for expressing comments and grievances about services </li>
                </ul>
                <strong>
                    It is your responsibility to:
                </strong>
                <br><br>
                <ul>
                    <li>Show respect for staff and other patients </li>
                    <li>Provide information needed to assure proper evaluation and care </li>
                    <li>Ask questions about your care </li>
                    <li>Understand the prescribed treatment </li>
                    <li>Take an active role in your health through <a><%= link_to "health education", healthpromotion_path %></a> materials and programs</li>
                    <li>Particiapte fully in your health care </li>
                    <li>Provide us with <a href="mailto:health@ucmerced.edu">feedback</a> for improving our services </li>
                </ul>
                 Below you may read and print a summary of your rights and responsibilities as a user of health services.
                <br><br>
                <a href="/healthbrochure.pdf" target="_blank"> Patient Rights & Responsibilities (PDF) </a>
                <br><br>
                <b> Related forms and information: </b>
                <br><br>
                <a href="/minorconsent.pdf" target="_blank"> Consent for Medical Treatment </a>- for any student under 18 years of age seeking health care. Have a parent/guardian sign it, and fax it to our Medical Records Department at (209) 228-7650. If you have questions, call (209) 228-2273.
                <br><br>
                <a href="http://www2.ed.gov/policy/gen/guid/fpco/ferpa/students.html" target="_blank"> FERPA Guidelines</a> - General overview of FERPA.

                </p>
            </div>
        </div>
    </div>


</div>
</div>

