<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Services</h2>
        <ol class="breadcrumb">
    </ol>
</div>
        </div>


<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">

<div class="col-md-8">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Our Services</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                We are available to assist you with any referrals to specialty care or diagnostic testing. We utilize a family practice model that incorporates health education.  We encourage you to make an appointment with our medical providers if you are sick or injured and also to discuss any aspect of your health & wellness while you are on campus. We have primary care providers experienced in:
                <ul>
                <li> Quality Primary Care Medicine </li>

                <li> Walk-in/Same Day Care  </li>

                <li> Men's Health</li>

                <li> Women's Health</li>

                <li> Pregnancy Testing</li>

                <li> Emergency Contraception</li>
    
                <li> Contraception Counseling</li>

                <li> STI Testing Counseling</li>

                <li> HIV Testing</li>

                <li> Travel Health</li>

                <li> Sports Physicals</li>

                <li> Sports Injuries</li>

                <li> Immunizations & Flu Shots</li>

                <li> Allergy Injections</li>

                <li> Prescription Management</li>

                <li> Prescription Drug Delivery</li>

                <li> Laboratory Testing</li>

                <li> Tele-psychiatry</li>

                <li> Concussion Evaluation and Treatment</li>

                <li> Tobacco Cessation Counseling</li>

                <li> Counseling and Psychological Services</li>

                <li> Nurses' Clinic</li>

                <li> Health & Wellness Advice including: (Tobacco Use/Cessation, Alcohol Use, Nutrition & Body Image, Sexual Health, Stress Management, Substance Use/Abuse Issues, Transition Issues) </li>

                </ul>
                Our health promotion and disease prevention programs encourage all students to develop positive health behaviors now and for the future. Our staff is involved in direct medical care as well as proactive campus educational activities.
                </p>
            </div>
        </div>
    </div>



<div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>We Care About Your Wellness</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
        <center>
                <img alt="image" class="img-circle m-t-xs center img-responsive" src="<%= image_path('services.jpg') %>">
        </center>
        <br>
            </div>
        </div>
    </div>

</div>
</div>

