<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Seven Dimensions of Wellness</h2>
        <ol class="breadcrumb">
            Maintaining Wellness
    </ol>
</div>



        </div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">

<div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Emotional Wellness</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                    <b>Being emotionally well is typically defined as possessing the ability to feel and express human emotions such as happiness, sadness and anger.
                    </b>
                    <br><br>

                    <ul>
                    <li>Cope effectively with stress</li>
                    <li>Develop awareness of personal feelings & feelings of others</li>
                    <li>Think positively about self and others</li>
                    <li>Make decisions by integrating feelings, thoughts, behaviors, values and desires</li>
                    <li>Form healthy relationships with others</li>
                    <li>Realistically assess personal strengths and limitations, enjoy challenges and recognize conflict as a potential sources of growth</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>


<div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Intellectual Wellness</h5>
                
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
                
            </div>
            <div class="ibox-content">

                    <b>The intellectual dimension encourages creative, stimulating mental activities.  People who posses a high level of intellectual wellness have an active mind and continue to learn.
                    </b>
                    <br><br>

                    <ul>
                    <li>Challenge self to use intellectual abilities</li>
                    <li>Encourage creative mental activity</li>
                    <li>Expand knowledge of self and world</li>
                    <li>Avoid idle thoughts and boredom</li>
                    </ul>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Occupational Wellness</h5>
                
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
                
            </div>
            <div class="ibox-content">

                <b>Occupational wellness involves preparing and making use of your gifts, skills and talents in order to gain purpose, happiness, and enrichment in your life.
                </b>
                <br><br>

                <ul>
                <li>Develop and understanding of personal values and lifestyle preferences</li>
                <li>Carefully investigate occupational choices that support personal values and lifestyle preferences</li>
                <li>Develop a realistic strategy for attaining occupational goals</li>
                </uL>

            </div>
        </div>
    </div>
</div>
<div class="row">

<div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Physical Wellnesss</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                    <b>Physical wellness encompasses a variety of health behaviors including adequate exercise, proper nutrition, and abstaining from harmful habits such as drug and alcohol abuse.
                    </b>
                    <br><br>

                    <ul>
                    <li>Take initiative to reduce risk of chronic disease and prevent injury</li>
                    <li>Be active and informed regarding to personal health care decisions</li>
                    <li>Follow comprehensive fitness routine, including cardiovascular, strength, and flexibility training</li>
                    <li>Make healthy nutritional choices</li>
                    <li>Make health choices regarding use of drugs and alcohol</li>
                    </uL>
                </p>
            </div>
        </div>
    </div>


<div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5> Social Wellnesss</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                    <b>Social wellness refers to our ability to interact successfully in our global community and to live up to the expectations and demands of our personal roles.
                    </b>
                    <br><br>

                    <ul>
                    <li>Maintain meaningful relationships with others</li>
                    <li>Adapt to various social situations</li>
                    <li>Contribute to welfare of the community</li>
                    </uL>
                </p>
            </div>
        </div>
    </div>

<div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Spiritual Wellnesss</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                    <b>Spiritual wellness involves possessing a set of guiding beliefs, principles, or values that help give direction to one’s life.
                    </b>
                    <br><br>

                    <ul>
                    <li>Establish personal ethics, values, and code for living</li>
                    <li>Integrate personal beliefs and values with actions</li>
                    <li>Develop a sense of purpose and meaning to life</li>
                    <li>Experience love, joy, and fulfillment</li>
                    </uL>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">

<div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Environmental Wellnesss</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                    <b>Environmental wellness is an awareness of the unstable state of the earth and the effects of your daily habits on the physical environment.  It consists of maintaining a way of life that maximizes harmony with the earth and minimizes harm to the environment.
                    </b>
                    <br><br>

                    <ul>
                    <li>Develop and appreciation for the external environment and the role individuals play in preserving and improving environmental conditions</li>
                    <li>Take personal and social responsibility for creating sustainable communities</li>
                    <li>Encourage minimizing disposable products</li>
                    <li>Evaluate purchases and conveniences based on their environmental impacts</li>
                    </uL>
                </p>
            </div>
        </div>
    </div>
</div>
</div>





