<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Waiver</h2>
        <ol class="breadcrumb">
        <li class="active">
            <strong>Waiver Application Information</strong>
        </li>
    </ol>
</div>



        </div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">


    <div class="col-lg-6">
        <div class="ibox-content">
            <h2>Waiver Deadlines</h2>
            <ul class="todo-list m-t">
                <li>
                    <span class="m-l-xs">Returning Students Waiver Open</span>
                    <small class="label label-primary"><i class="fa fa-clock-o"></i> May 7th 2015</small>
                </li>
                <li>
                    <span class="m-l-xs">Incoming Students Waiver Open</span>
                    <small class="label label-info"><i class="fa fa-clock-o"></i> June 1st, 2015</small>
                </li>
                <li>
                    <span class="m-l-xs">Spring Waiver Opens</span>
                    <small class="label label-warning"><i class="fa fa-clock-o"></i>November 30th, 2015</small>
                </li>
                <li>
                    <span class="m-l-xs">Fall Waiver Deadline</span>
                    <p class="label label-danger"><i class="fa fa-clock-o"></i> August 12th 2015</p>
                </li>
            </ul>
        </div>
    </div>



<div class="col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Important Waiver Notice</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                    <strong> UC Merced requires </strong> that all students have a primary care provider within 55 miles of their school address (on or off campus). Many students with Medi-Cal, or HMO insurance cannot meet this require­ment. If you cannot identify a provider within this 55 mile radius, you may not qualify to waive UCSHIP. 
                </p>
                <p>
                    <strong> Students with an HMO: </strong> Please contact your insurance company to change your Primary Care Provider (PCP) to one in Merced. 
                </p>
                <p>
                    <strong> Students with Medi-Cal: </strong> you must contact your case worker and have them change to a code (024) and update only your mailing address to Merced. If they will not do this then you will need to transfer your Medi-Cal to Merced County.
                </p>
                <p>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge badge-primary">Option 1</span>
                            If you want to be enrolled in UC SHIP, you are automatically enrolled - no action required. 
                        </li>
                        <li class="list-group-item ">
                            <span class="badge badge-info">Option 2</span>
                            If you have comparable insurance and do not want to be enrolled in UC SHIP, you may <a target="_blank" href="https://my.ucmerced.edu">submit an Insurance Waiver</a> through the UC Merced web portal by the published deadline. What does Waiving out of the schools insurance mean? You have your own comparable insurance and don’t need the schools insurance plan. 
                        </li>
                    </ul>
                    Services at the Student Health Center are available to all registered students, even if you waive UC SHIP.
                </p>
            </div>
        </div>
    </div>



<div class="col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Insurance resources</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
        <center>
                <a href="http://www.ucop.edu/ucship/campuses/merced/index.html"><img class="img-responsive" src="../assets/ucship.jpg"></a>
        </center>
        <br>
                <p>
                    • <a href="http://www.ucop.edu/ucship/campuses/merced/index.html" target="_blank">UC SHIP website</a>     
                    <br>                
                    • <a href="/shipbrochure1415.pdf" target="_blank"> UC SHIP 2015-16 Brochure </a>
                    <br>
                    • <a href="/dental.pdf" target="_blank"> UC SHIP Delta Dental Summary 2014-15</a>
                    <br>
                    • <a href="/vision.pdf" target="_blank"> UC SHIP Vision Summary 2014-15</a>
                    <br>
                     • <a href="/waiverworksheet.pdf" target="_blank">Waiver Criteria Worksheet</a>
                    <br><br>
                </p>
            </div>
        </div>
    </div>


    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Periods of Coverage</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Term</th>
                        <th>Effective Date</th>
                        <th>Termination Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Fall</td>
                        <td><span class="line">8/15/15</span></td>
                        <td>1/14/16</td>
                    </tr>
                    <tr>
                        <td>Spring/Summer</td>
                        <td><span class="line">1/15/16</span></td>
                        <td>8/14/16</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


<div class="col-lg-6">
        <div class="contact-box">
            <div class="col-sm-4">
                <div class="text-center">
                    <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('darcey.jpg') %>">
                    <div class="m-t-xs font-bold">Insurance Coordinator</div>
                </div>
            </div>
            <div class="col-sm-8">
                <h3><strong>Darcey Wiens </strong></h3>
                <address>
                    <strong>Address:</strong><br>
                    H. Rajender Reddy Health Center <br>
                    5200 North Lake Road <br>
                    Merced, CA 95343 <br>
                    <strong>Hours: Mon-Fri 9 am to 4 pm</strong><br>
                    <abbr title="Phone">P:</abbr> (209) 228-4876
                    <abbr title="Fax">F:</abbr> (209) 228-7650
                </address>
            </div>
            <div class="clearfix"></div>
        </a>
    </div>



</div>

</div>

