<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-10">
        <h2>Waiver</h2>
        <ol class="breadcrumb">
        <li class="active">
            <strong>Waiver Application Information</strong>
        </li>
    </ol>
</div>



        </div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">


    <div class="col-md-6">
        <div class="ibox-content">
            <h2>Waiver Deadlines</h2>
            <ul class="todo-list m-t">
                <li>
                    <span class="m-l-xs">Returning Students Waiver Open</span>
                    <small class="label label-primary"><i class="fa fa-clock-o"></i> May 7th 2015</small>
                </li>
                <li>
                    <span class="m-l-xs">Incoming Students Waiver Open</span>
                    <small class="label label-info"><i class="fa fa-clock-o"></i> June 1st, 2015</small>
                </li>
                <li>
                    <span class="m-l-xs">Spring Waiver Opens</span>
                    <small class="label label-warning"><i class="fa fa-clock-o"></i>November 30th, 2015</small>
                </li>
                <li>
                    <span class="m-l-xs">Fall Waiver Deadline</span>
                    <p class="label label-danger"><i class="fa fa-clock-o"></i> August 12th 2015</p>
                </li>
            </ul>
        </div>

<br><br>
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Should I Waive? Learn more about Waiving</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                    All registered UC Merced students are automatically enrolled in the campus sponsored UCSHIP Student Health Insurance Plan. 
                    <br><br>
                    <b> If you have private insurance coverage and do not wish to be enrolled in UCSHIP for the 2015-16 academic year, you will need to submit a waiver application by the stated deadlines. Failure to submit a waiver application by the deadline will result in you remaining enrolled in UCSHIP and being responsible for the charges posted to your student account. </b>
                    <br><br>
                    <strong>
                    The Fall 2015-16 Waiver Application period opens Friday, May 1, 2015. Your Waiver Application must be filed online by 11:59 pm on Wednesday, August 12, 2015 to avoid a late waiver fee of $50. Late Waiver Applications are manually processed through the Insurance Office from Thursday, August 13, 2015 through 12 Noon on Friday, August 21, 2015 and are subject to a late fee of $50. A paper Late Waiver Application is only available at the Student Health Insurance Office after the late waiver fee is paid. 
                    <br><br>
                    Please be aware that paying the late fee does not guarantee that your late waiver will be approved. It only allows your waiver to be submitted late.
                    <br><br>
                    Absolutely no late Waivers Applications will be accepted after 12 Noon on Friday, August 21, 2015. 
                    </strong>
                </p>
                <p>
                    <li> Once you have completed your UCSHIP waiver application, you will be immediately notified if your waiver application was approved or denied and you will be sent an email confirmation of the decision to your UC Merced email account. 
                    </li>    
                    <li> Please remember that it is the responsibility of the student to prove that a waiver application has been submitted and approved. It is recommended that you print a copy of your approval for your records. 
                    </li>
                    <li> If you submit your waiver application within 10 business days of the Registration Fee Payment deadline, you will have to pay all fees, including the UCSHIP fee, on your student account. If your waiver is approved, your student account will be refunded the full insurance fee once your waiver posts to your student account. 
                    </li>
                    <li> UC SHIP fees are charged to your student account each semester along with your registration fees. You will be required to pay these fees and will be covered by UC SHIP unless you have an approved waiver application on file with Insurance Services at the Student Health Center. 
                    </li>
                    <li> Students only have to file a waiver application once each academic year. If you have decided to waive UC SHIP, you will need to read the important information below. If you have decided to enroll in UC SHIP, you do not need to do anything. Enrollment in UC SHIP is automatic when you pay your fees. Our online waiver application is administered by Wells Fargo Insurance Services on behalf of the University.
                    </li>
                    <li> If your waiver is denied, please follow the instructions on the denial page.
                    </li>
                </p>
            </div>
        </div>

<div class="contact-box">
            <div class="col-md-4">
                <div class="text-center">
                    <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('darcey.jpg') %>">
                    <div class="m-t-xs font-bold">Insurance Coordinator</div>
                </div>
            </div>
            <div class="col-md-6">
                <h3><strong>Darcey Wiens </strong></h3>
                <address>
                    <strong>Address:</strong><br>
                    H. Rajender Reddy Health Center <br>
                    5200 North Lake Road <br>
                    Merced, CA 95343 <br>
                    <strong>Hours: Mon-Fri 9 am to 4 pm</strong><br>
                    <a href="mailto:insurance@ucmerced.edu" class="text-navy"><i class="fa fa-envelope-o"></i> insurance@ucmerced.edu</a>
                    <br>
                    <abbr title="Phone">Phone:</abbr> (209) 228-4876
                    <br>
                    <abbr title="Fax">Fax:</abbr> (209) 228-7650
                </address>
            </div>
            <div class="clearfix"></div>
        </div>
 



    </div>







<div class="col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Important Waiver Notice</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                    <strong> UC Merced requires </strong> that all students have a primary care provider within 55 miles of their school address (on or off campus). Many students with Medi-Cal, or HMO insurance cannot meet this require­ment. If you cannot identify a provider within this 55 mile radius, you may not qualify to waive UCSHIP. 
                </p>
                <p>
                    <strong> Students with an HMO: </strong> Please contact your insurance company to change your Primary Care Provider (PCP) to one in Merced. 
                </p>
                <p>
                    <strong> Students with Medi-Cal: </strong> you must contact your case worker and have them change to a code (024) and update only your mailing address to Merced. If they will not do this then you will need to transfer your Medi-Cal to Merced County.
                </p>
            </div>
        </div>

        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <h2>Waiver Checklist</h2>
                <small>To waive out of UCSHIP, follow the checklist:</small>
                <ul class="todo-list m-t small-list">

                    <li>
                        <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                        <span class="m-l-xs">Review the insurance and waiver page and decide if you are waiving.
                        </span>
                        <small class="label label-warning"><i class="fa fa-clock-o"></i> Step 1</small>
                    </li>    
                    <li>
                        <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                        <span class="m-l-xs">Please complete the <a href="/waiverworksheet.pdf" target="_blank"> Waiver Criteria Worksheet (PDF)</a> and review the <a href="/glossary.pdf" target="_blank"> Glossary of Medical Insurance Terminology (PDF) </a> to ensure you have all the information you need prior to starting the process.  You will only have 15-20 minutes to complete the application online.  If information is incomplete or inaccurate, your waiver will be denied. 
                        </span>
                        <small class="label label-primary"><i class="fa fa-clock-o"></i> Step 2</small>
                    </li>               
                    <li>
                        <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                        <span class="m-l-xs">If waiving, file your application online <strong> by 11:59 pm on Wednesday, August 12, 2015.</strong> Make sure you have: an active UCMNet ID and password and benefit details about your health insurance plan, including the company name, phone number, group number and your UCM student identification number. Your waiver is available through the UC Merced Portal: <a href="https://my.ucmerced.edu/uPortal/f/u20l1s171/normal/render.uP" target="_blank">Student Health Waiver</a>  
                        </span>
                        <small class="label label-info"><i class="fa fa-clock-o"></i> Step 3</small>
                    </li>
                    <li>
                        <a href="#" class="check-link"><i class="fa fa-square-o"></i> </a>
                        <span class="m-l-xs">Print a copy of your approval for your records, you will also receive an e-mail confirmation.
                        </span>
                        <small class="label label-success"><i class="fa fa-clock-o"></i> Step 4</small>
                    </li>
                </ul>
            </div>
        </div>
    </div>

<div class="col-md-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>How To File An Appeal</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>
                    If you applied for a waiver and your waiver application was denied, you may appeal the decision in writing.
                    <b>
                    Please read all of the instructions below before filing an Appeal: </b>
                    If your Waiver Application was denied because you missed the waiver application deadline, <b>DO NOT FILE AN APPEAL.</b>
                    <br><br>
                    <b>Appeals will not be considered for students missing the waiver deadline.</b>
                    <br><br>
                    <b>Your appeal must be submitted to the Insurance office at the Student Health Center within seven (7) days of the date of notice of denial. </b> Appeals received after the seven-day grace period will not be considered.
                    Appeals will be considered for the current term only. Waivers granted on Appeal will NOT be applied to any previous term. <b> Failure to complete the entire Appeal of Waiver Denial form, or to provide appropriate documentation, will result in your appeal being denied. You will remain enrolled in UCSHIP for the appropriate semester and be responsible for all UCSHIP fees. </b>
                    <br><br>
                    Evaluation of your Appeal will be based on comparability insurance guidelines in effect at the time of the original Waiver Application.
                    <br><br>
                    <b>
                    Required Documents to File an Appeal of Waiver Denial
                    </b>
                    <br><br>
                    <span class="badge badge-primary">1.</span> Attach copy of Waiver Denial Notice.
                    <br>
                    <span class="badge badge-info">2.</span> Attach copy of front and back of current insurance card.
                    <br>
                    <span class="badge badge-success">3.</span> Attach copy of the Complete Insurance Benefit Summary (this can be found online at your insurance company’s website by making a user name and password login or by calling your insurance company).
                    <b>
                    <br>
                    No action will be taken on your Appeal without all of the above attachments.
                    </b>
                    <br><br>
                    Communication regarding the status of your Waiver Appeal will be sent to your UC Merced email address.
                    <br><br>
                    Please only submit your Waiver Appeal <b>1 time</b>. Once we receive your Appeal we will send an email confirmation.
                    <br><br>
                    If you still want to file an appeal of waiver denial, download the <a href="/appeal.pdf" target="_blank"> UC SHIP Appeal of Waiver Denial form </a>  and submit the completed form to Insurance Office at the Student Health Center within seven (7) days of the date you received the notice of your waiver denial.
                    <br><br>
                    Submitting an appeal can be done by <b>mail, fax or email:</b>
                    <br><br>
                    Insurance Coordinator
                    <br>
                    H. Rajender Reddy Health Center
                    <br>
                    University of California, Merced
                    <br>
                    5200 N. Lake Rd.
                    <br>
                    Merced, CA 95343
                    <br>
                    Fax- 209-228-7650
                    <br>            
                    Email- <a href="mailto:insurance@ucmerced.edu">insurance@ucmerced.edu</a>
                    <br><br>
                    <p class="text-danger">Disclaimer: Submission of an appeal is not a guarantee of an approval</p>
                </p>
            </div>
        </div>
    </div>



</div>

