<div class="footer">
    <div class="pull-right">
    </div>
    <div>
        <strong>UC Merced Student Health Services</strong>  <abbr title="Phone">Phone:</abbr> (209) 228-2273
    </div>
</div>
